{
  "sourceMaps": "inline",
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "babel-plugin-transform-async-to-generator"
  ],
  "babelrc": false
}